* {
    box-sizing: border-box;
  }
  
body {
    min-height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.icon{
    margin: 5rem 0rem;
    width: 50%;
    height: 50%;
    line-height: 10rem;
    font-size: 5rem;
}

.appbar{
    background-color: rgba(255, 255, 255, 0) !important;
}

